.env
*.env
.microrc.yaml
.secrets

Dockerfile
node_modules
example
data
.vscode
.github
*.md

packages/*/.turbo
packages/*/data
packages/*/node_modules
packages/*/dist
packages/*/.next
packages/*/.swc