*

!example
!packages

!LICENSE

!package.json
!tsconfig.json
!tsconfig.server.json
!tailwind.config.js
!next-env.d.ts
!next.config.js
!postcss.config.js
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsup.config.ts
!wrapper.sh
!turbo.json

packages/api/data
packages/api/dist
packages/web/.next
packages/*/.turbo