{
  "host": "https://i.example.com",
  "redirect": "https://example.com",
  "thumbnails": 200,
  "uploadPath": "./store",
  "synchronize": false,
  "sizeLimits": {
    "upload": "50MB",
    "errorLog": "1MB",
    "combinedLog": "1MB"
  },
  "users": {
    "ryan": "youshallnotpass"
  }
}
