{
  "HOST": "https://i.example.com",
  "REDIRECT": "https://example.com",
  "THUMBNAIL_SIZE": 200,
  "DATA_PATH": "./store",
  "SYNCHRONIZE": true,
  "SIZE_LIMITS": {
    "UPLOAD": "50MB",
    "ERROR_LOG": "1MB",
    "COMBINED_LOG": "1MB"
  },
  "USERS": {
    "admin": "youshallnotpass"
  }
}
