# THIS FILE IS FOR DEVELOPMENT ONLY.
# PERSISTENCE IS NOT ENABLED, `docker compose down` WILL DELETE ALL DATA.
# If you want complete examples on how to host micro, see the /examples directory.
version: "3"
services:
  postgres:
    image: postgres:12-alpine
    container_name: micro_postgres
    restart: unless-stopped
    ports:
      - 127.0.0.1:5433:5432
    environment:
      - POSTGRES_USER=micro
      - POSTGRES_PASSWORD=youshallnotpass
      - POSTGRES_DB=micro

  minio:
    image: minio/minio
    container_name: micro_minio
    restart: unless-stopped
    command: server /data --console-address ":9001"
    ports:
      - 127.0.0.1:9000:9000 
      - 127.0.0.1:9001:9001
    environment:
      MINIO_ROOT_USER: test
      MINIO_ROOT_PASSWORD: testtest