@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: rgb(167, 139, 250);
}

#__next {
  @apply h-screen;
}

body {
  @apply text-white;
  background-color: #141414;
}

::selection {
  @apply bg-violet-600;
  @apply text-white;
}

::-webkit-scrollbar {
  background: inherit;
  height: 14px;
  width: 8px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border-radius: 7px;
  border-style: solid;
  border-width: 2px;
}

::-webkit-scrollbar-track {
  border-width: initial;
}

::-webkit-scrollbar-thumb {
  background-color: #333033;
  border-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  border-color: transparent;
}

body {
  overflow-y: overlay;
}

.dots {
  background-image: radial-gradient(black 1px, transparent 0);
  background-size: 40px 40px;
}

code[class*='language-'],
pre[class*='language-'] {
  white-space: normal !important;
  word-break: break-word !important;
}
