.button {
  @apply flex items-center justify-center w-full px-3 py-2 text-sm font-medium bg-dark-300 hover:bg-dark-600 border border-dark-600 rounded transition;
  height: 2.5rem;
}

.button:focus {
  outline: none !important;
}

.primary {
  @apply bg-brand hover:bg-brand hover:opacity-75;
}

.content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.disabled {
  @apply bg-dark-300 border border-dark-600 text-white cursor-not-allowed !important;
  filter: none !important;
}

.prefix {
  @apply mr-1;
}

.suffix {
  @apply ml-1;
}

.prefix svg,
.suffix svg {
  height: 1.35em;
}
