:root {
  --micro-preview-max-height: 51vh;
  --micro-preview-min-height: 80wh;
  --micro-space: 4px;
  --micro-space-2x: 8px;
  --micro-space-4x: 16px;
  --micro-space-8x: 32px;
  --micro-space-16x: 64px;
  --micro-space-32x: 128px;
  --micro-space-small: 32px;
  --micro-space-medium: 40px;
  --micro-space-large: 48px;
  --micro-space-gap: 24px;
  --micro-space-gap-half: 12px;
  --micro-space-gap-quarter: var(--micro-space-2x);
  --micro-gap: var(--micro-space-gap);
  --micro-gap-half: var(--micro-space-gap-half);
  --micro-gap-quarter: var(--micro-space-gap-quarter);
  --micro-gap-double: var(--micro-space-large);
  --micro-space-negative: -4px;
  --micro-radius: 5px;
  --micro-cyan: #79ffe1;
  --micro-cyan-dark: #50e3c2;
  --micro-cyan-darker: #29bc9b;
  --micro-purple: #f81ce5;
  --micro-violet: #7928ca;
  --micro-alert: #ff0080;
  --header-height: 64px;
  --header-border-bottom: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  --micro-foreground: #000;
  --micro-background: #fff;
  --micro-selection: var(--micro-cyan);
  --micro-link-color: rgb(0, 162, 255);
  --micro-marketing-gray: #fafbfc;
  --micro-code: var(--micro-purple);
  --micro-success: #0070f3;
  --micro-success-dark: #0366d6;
  --micro-error: #e00;
  --micro-error-dark: #c00;
  --micro-warning: #f5a623;
  --micro-warning-dark: #f49b0b;
  --micro-secondary: var(--accents-5);
  --micro-secondary-dark: var(--accents-7);
  --dropdown-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.02);
  --dropdown-triangle-stroke: #fff;
  --scroller-start: #fff;
  --scroller-end: hsla(0, 0%, 100%, 0);
  --shadow-smallest: 0px 4px 8px rgba(0, 0, 0, 0.12);
  --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);
  --portal-opacity: 0.25;
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --micro-foreground: #fff;
    --micro-background: #000;
    --micro-selection: var(--micro-purple);
    --accents-8: #fafafa;
    --accents-7: #eaeaea;
    --accents-6: #999;
    --accents-5: #888;
    --accents-4: #666;
    --accents-3: #444;
    --accents-2: #333;
    --accents-1: #111;
    --micro-success: #0070f3;
    --micro-success-dark: #0366d6;
    --micro-error: red;
    --micro-error-dark: #e60000;
    --micro-warning: #f5a623;
    --micro-warning-dark: #f49b0b;
    --micro-secondary: var(--accents-5);
    --micro-secondary-dark: var(--accents-7);
    --micro-marketing-gray: var(--accents-1);
    --micro-code: var(--micro-cyan);
    --dropdown-box-shadow: 0 0 0 1px var(--accents-2);
    --dropdown-triangle-stroke: #333;
    --scroller-start: #000;
    --scroller-end: transparent;
    --header-border-bottom: inset 0 -1px 0 0 hsla(0, 0%, 100%, 0.1);
    --shadow-small: 0 0 0 1px var(--accents-2);
    --shadow-medium: 0 0 0 1px var(--accents-2);
    --shadow-large: 0 0 0 1px var(--accents-2);
    --portal-opacity: 0.75;
  }

  ::-webkit-scrollbar {
    background-color: var(--micro-background);
    color: var(--micro-foreground);
  }

  ::-webkit-scrollbar-corner {
    background-color: var(--micro-background);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--accents-1);
  }
}

#__next {
  height: 100vh;
  scroll-padding: 5em;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.card {
  position: relative;
}

.max-width {
  min-width: 0 !important;
  width: 100% !important;
}

/* for some reason by default geist will poorly capitalise labels and that's disgusting */
.label {
  text-transform: none !important;
}

/* sketch fix for this shit https://i.imgur.com/UOhPOg0.png */
.item .btn,
.item .select,
.item .btn-dropdown,
.item .btn-group {
  height: calc(1.688 * 16pt) !important;
  display: flex !important;
  align-items: center !important;
}

/* for some reason btn groups have margins but regular buttons dont which means they throw everything out */
.item .btn-group {
  margin: 0 !important;
}

/* fix button dropdown overflowing its parent height with the above height fix */
.item .btn-dropdown * {
  height: 100%;
}

/* fixes Input.Password text being a lil far too the right https://i.imgur.com/jZ06vwF.png */
.input-icon + input {
  margin-left: 0 !important;
}

/* makes grid cards max height so this shit https://i.imgur.com/oYfFhlV.png turns into this less shit https://i.imgur.com/i5IFhKn.png */
.item .card {
  height: 100%;
}

/* fixes tooltips being too fat https://i.imgur.com/tdNkXir.png */
.tooltip-content .inner {
  padding: 0.5em 1em !important;
  font-size: 0.85rem !important;
}

/* fixes the tooltip point matching the background https://i.imgur.com/DkOpvSf.png */
.tooltip-content .inner span {
  border-color: transparent var(--accents-2) transparent transparent !important;
}

/* 
  fixes multi selects having too much padding on the left
  forgive me for i have sinned
 */
.select.multiple .item:first-child {
  margin-left: -2.5pt !important;
}
